body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.parent{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template:  10rem 1fr 10rem /  1fr 1fr 1fr;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content p {
    margin: 0;
    text-align: center;
}

header{
    grid-column: 1 / 4;
    background-color: lightblue;
    padding: 2rem;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.main-content{
    grid-column: 1 / 3;
    background-color: lightgrey;
}
.aside-content{
    grid-column: 3 / 4;
    background-color: lightgreen;
     padding: 1rem;
}
footer{
    grid-column: 1 / 4;
    background-color: rgb(189, 64, 151);
    padding: 2rem;
}