@media (min-width: 600px) {
  .temple-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  #menu {
    display: none;
  }
}

@media (min-width: 900px) {
  .temple-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
