body{
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header , main, footer{
    padding: 1rem;
    box-sizing: border-box;
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #cfd8dc;
    background-color: #e3f2fd;
}
main{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;

}